body{
    background: #403B4A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

.fp_maincontainer{
    width: 100%;
    height: 98.4vh;

    justify-content: center;
    align-items: center;
    display: flex;
}



.fpformcontainer{
    background-color: white;
    border-radius: 20px;
    width: 400px;
    height: 500px;

    display: flex;
    flex-direction: column;
}

.fptopic{
    color: gray;
    font-size: 2rem;
    padding: 3% 7%;
}

.fpformcontainer label{
    font-size: 1.3rem;
    margin: 30px 0 10px 0 ;
    padding: 0 8%;
}

.fpformcontainer input{
    font-size: 1.3rem;
    margin: 0 8%;
    padding: 2%;
    border-radius: 20px;
    border: 1px solid gray;
}
.fpbuttoncon{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10% 0;

}
.fpbuttoncon a{
    text-decoration: none;
    color: white;
    background-color: green;
    width: 200px;
    font-size: 1.5rem;
    text-align: center;
    padding: 2% 0;
    border-radius: 20px;


}

.fpbuttoncon a:hover{
    background-color: rgb(0, 77, 0);
}